<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoResaMedIN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01CBEA2819730D410BAC1596B877FDDBE0B7D459</string>
				<key>dateExpires</key>
				<string>2023-06-14</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GCZD2DJ6AG.com.oli.ver.develop.Auto-Resa</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GCZD2DJ6AG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AutoResaMedIN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>277ecdae-e16a-42e5-b94d-ac2948d46c49</string>
				<key>dateExpires</key>
				<string>2023-06-14</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.oli.ver.develop.Auto-Resa</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GCZD2DJ6AG</string>
				<key>name</key>
				<string>Oliver Drevet</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
